
# **Data Visualization**
### Objectives
- Read the cleaned data and visualize it in order to understand trends, correlations, and to understand which variables influence *insurance charges*.
### Inputs
- The file uses `insurance_cleaned.csv` text file located in the `data\cleaned` folder.
### Outputs
- This notebook generates various plots and relies on `matplotlib`, `seaborn` and `plotly` to generate them.

## Load the libraries and the data
In this section the relevant data analysis libraries and the raw data will be loaded.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
sns.set_style('whitegrid')

THe data will be loaded as the variable `insurance`:

In [2]:
insurance = pd.read_csv("../data/cleaned/insurance_cleaned.csv")
print(insurance.shape)
insurance.head()

(1338, 9)

,age,sex,bmi,children,smoker,region,charges,age_bracket,bmi_category
0,19,female,27.900,0,True,southwest,16884.92400,18-25,overweight
1,18,male,33.770,1,False,southeast,1725.55230,18-25,obesity
2,28,male,33.000,3,False,southeast,4449.46200,26-35,obesity
3,33,male,22.705,0,False,northwest,21984.47061,26-35,normal
4,32,male,28.880,0,False,northwest,3866.85520,26-35,overweight

## Overview of charges distribution